@media (max-width: 1024px) {
	.headerparent {overflow: hidden;}
	.videoparentbox {justify-content: space-around;
		flex-wrap: wrap;}
	.popularuliparentbox { justify-content: space-around;
		flex-wrap: wrap; }
	.informaciaparentbox {
		justify-content: space-around;
		flex-wrap: wrap;}
}



@media(max-width: 680px)
{ 

.menu ul li:before {
	content: "";
	width: 0px;
 }

.menu{	
	position: relative;
	z-index: 20;
	vertical-align: middle;
}

.menu ul {
	display: flex;
	flex-direction: column;
	vertical-align: middle;
	justify-content: center;
	/*margin-top: 200px*/
	margin-top: 50%;
}
.menu ul li {
	display: flex;
	justify-content: center;
	height: 50px;
	text-align: center;
	line-height: 50px
}
.menu ul li:nth-child(2n) {
	background-color: green;
} 
.menu {
	position: fixed;
	width: 60px;
	height: 50%;
	background-color: white;
	top:-1000%;
	left: 0;
	/*top: 25%;*/
	/*float: right;*/
	/*margin-right: 20px;*/
	transition: top .5s ease;
}
.header.burger-is-active .menu {
	top:0;
	top: 25%;
	z-index:200; 

}
.header.burger-is-active .burger  {
	position: relative;
	border:transparent;
	/*transition: all .5s ease;*/
	}
.header.burger-is-active .burger span {
	position: absolute;
	transition: all .8s ease;
}
.header.burger-is-active .burger span:first-child {
	transform: rotate(45deg);

}
.header.burger-is-active .burger span:nth-child(2) {
	visibility: hidden;
	opacity: 0;
}
.header.burger-is-active .burger span:last-child {
	transform: rotate(-45deg);
}


.burger {
	display: flex;
	z-index:300;
	/*line-height: 20px;*/
	transition: left .5s ease;
}

.filldiv { display: flex; }

.slierparent {
	display: inline-block;
	overflow: hidden;
	height: 260px;
	width: 680px;
}
.sliderchild  {
	width: 100%;
	margin: 0 auto;
	height: 260px;
	/*overflow: hidden;*/
}
.sliderimg { 
	height: 100%;
	width: auto;
	/*height: 260px;
	overflow: hidden;*/
}

}
@media (max-width: 520px) {
	.menuimg {display: none}
	.burger {
		display: flex;
		/*margin:0 auto;*/
	}
	.video {margin-right: 10px;
			margin-left: 10px;
		}
.ruka {
			margin-right: 10px;
			margin-left: 10px;
			width: 100%;
}	


}
@media (max-width: 420px) {
	.statia {justify-content: space-around;}
	.informaciabox { padding: 0px }
}