body { 

}
ul {list-style: none}
li{font-family: "bpg-arial.min.css"}
a {text-decoration: none}
.mtavari{color:red;}
.banner {max-width:50%; max-height: 50%}
.youtube{max-width: 3%}
.facebook{max-width: 1.5%}
h1 { color: red font-size: 12;}
h2 {color:white; background-color: blue;shape-rendering: square}